@charset "UTF-8";
@font-face {
  font-family: 'CircularStd-Book';
  src: url('../fonts/CircularStd-Book.otf');
}

@font-face {
  font-family: 'CircularStd-Black-Italic';
  src: url('../fonts/CircularStd-BlackItalic.otf');
}

@font-face {
  font-family: 'CircularStd-Black';
  src: url('../fonts/CircularStd-Black.otf');
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url('../fonts/CircularStd-Bold.otf');
}

/****************************/
/** Reset **/
/****************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
.error-comment,
h4,
h5,
h6,
.panel-title,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

strong {
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: CircularStd-Black, sans-serif;
}

h4,
h5,
h6,
.conversion {
  font-family: CircularStd-Bold, sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: CircularStd-Book, sans-serif;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  color: #333;
  letter-spacing: 0.3px;
  font-family: CircularStd-Book, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  width: 100%;
  background: #ffffff !important;
  overflow-x: hidden;
}

* {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#__next {
  background: #fff;
}

textarea {
  resize: none;
}

body {
  overflow: hidden;
  position: relative;
}

html {
}

input {
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a:hover,
a:active {
  outline: 0;
}

button:focus {
  border: none;
  outline: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
  color: #333333;
}

a:focus {
  text-decoration: none;
  outline: none;
  color: #333333;
}

h1,
h2,
h3,
.error-comment,
h4,
h5,
h6,
.panel-title {
  color: #333333;
}

h1 {
  font-size: 45px;
  line-height: 60px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
}

h3,
.error-comment {
  font-size: 30px;
  line-height: 40px;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
}

h5 {
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
}

h6,
.panel-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}

p {
  font-size: 14px;
  line-height: 25px;
}

p.lead {
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 0;
  font-weight: 400;
}

p.text-muted {
  font-size: 14px;
}

.force-UTF-8 {
  content: '¡';
}

dt {
  font-weight: 600;
}

code {
  background: transparent;
}

::-webkit-file-upload-button {
  cursor: pointer;
}

.terms {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 800px;
  margin: auto;
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .container {
    padding-right: 12px;
    padding-left: 12px;
  }
}
